<h2><%= car.manufacturer.name %> <%= car.name %></h2>
<ul>
    <li><%= car.engine %></li>
    <li><%= car.transmission %></li>
    <li><%= car.horsepower %> HP</li>
    <li><%= car.released_at %></li>
</ul>