<h1> <%= @manufacturer.name %> </h1>
<ul>
  <li><%= link_to "Edit manufacturer", edit_manufacturer_path(@manufacturer) %></li>
  <li>
    <%= form_with(model: @manufacturer, url: archive_manufacturer_path(@manufacturer), method: :post) do |form| %>
      <%= form.submit "Archive manufacturer" %>
    <% end %>
  </li>
</ul>


<h2>Cars</h2>
<%= render partial: 'cars/car_list', locals: {cars: @cars} %>

<footer>This is a manufacturer</footer>

<%= link_to "Back", cars_path %>
